<!DOCTYPE html>
<html lang="zh">
  <head>
    <title>火花</title>
    <%= stylesheet_link_tag    'dev', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'dev', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?2012060e2081b877181071769ce85b02";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

  </head>
  <body>
    <div class="first container-fluid">
      <div class="row center-horizontal center-vertical">
        <div class="signup center-horizontal col-lg-8 col-md-7 col-sm-12 col-xs-12">
          <div class="title"> <%= link_to image_tag("logo.svg", :border => 0, :class => 'logo')%><span>火花</span></div>
          <h2 class="subtitle">结识中国最<span class="push-wrapper"><b class="is-visible">优秀</b><b class="is-hidden">酷炫</b><b class="is-hidden">有趣</b><b class="is-hidden">逗比</b><b class="is-hidden">极客</b></span>的创业者和投资人</h2>
          <h2 class="subtitle">社交·问答·学习</h2>
          <form action="info-upload" method="post" class="sign-up upload center-horizontal">
            <div class="form-group">
              <span class='input-span'>
              <input type="text" name="question" placeholder="您的中文名" class="form-control"></span>
            </div>
            <div class="form-group">
              <span class='input-span'>
              <input type="email" name="email" placeholder="您的邮箱地址" class="form-control"></span>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default submit-button">注册</button>
            </div>
          </form>
          <div class="footer sign-up center-horizontal"><a href="#" data-toggle="modal" data-target="#qrcode">关于我们</a></div>
        </div>
        <div class="clear-fix visible-xs-block visible-sm-block"></div>
        <div class="list center-horizontal col-lg-4 col-md-5 col-sm-12 col-xs-12">
          <div class="list-item container-fluid active">
            <div class='list-row avatar-row'>
              <div class="avatar com-com1">
              </div>
              <div class="desc">杨飞-IDG资本创始合伙人</div>
            </div>
            <div class='list-row detail-info'>
              <div class='badge-column'>
                <div id='badge-1' class='badge-item'></div>
              </div>
              <div class='detail-desc'>IDG资本投资合伙人，拿投过的公司来说：携程、腾讯、金融界、百度...
              </div>
            </div>
          </div>
          <div class="list-item container-fluid">
            <div class='list-row avatar-row'>
              <div class="avatar com-com2">
              </div>
              <div class="desc">朱建寰-IDG资本投资合伙人</div>
            </div>
            <div class='list-row detail-info'>
              <div class='badge-column'>
                <div id='badge-1' class='badge-item'></div>
              </div>
              <div class='detail-desc'>IDG资本投资合伙人，在香港、加拿大、深圳、北京等地多年从事创投。拥有法国波尔多大学有机材料化学博士和加拿大麦基尔大学工商管理硕士学位。
              </div>
            </div>
          </div>
          <div class="list-item container-fluid">
            <div class='list-row avatar-row'>
              <div class="avatar com-com3">
              </div>
              <div class="desc">Andy Tang-德丰杰龙脉基金合伙人</div>
            </div>
            <div class='list-row detail-info'>
              <div class='badge-column'>
                <div id='badge-1' class='badge-item'></div>
              </div>
              <div class='detail-desc'>传说中的Draper University的CEO，德丰杰基金董事，主投过YeePay、 Miartech,、Mobim 等项目。沃顿商学院MBA。
              </div>
            </div>
          </div>
          <div class="list-item container-fluid">
            <div class='list-row avatar-row'>
              <div class="avatar com-com4">
              </div>
              <div class="desc">Denny Liu-乐纯酸奶 CEO</div>
            </div>
            <div class='list-row detail-info'>
              <div class='badge-column'>
                <div id='badge-1' class='badge-item'></div>
              </div>
              <div class='detail-desc'>乐纯酸奶CEO，卖得一手好酸奶，做得一手好金融，写得一手好文章。微博百万粉丝的早年沃顿学神。
              </div>
            </div>
          </div>
          <div class="list-item container-fluid">
            <div class='list-row avatar-row'>
              <div class="avatar com-com5">
              </div>
              <div class="desc">吴一明-奇点金融 CEO</div>
            </div>
            <div class='list-row detail-info'>
              <div class='badge-column'>
                <div id='badge-1' class='badge-item'></div>
              </div>
              <div class='detail-desc'>奇点金融CEO，氪空间团队。也是Y Combinator 第二个中国项目的联合创始人，在MIT和新加坡国立都读过书的学神。
              </div>
            </div>
          </div>
          <div class="list-item container-fluid">
            <div class='list-row avatar-row'>
              <div class="avatar com-com6">
              </div>
              <div class="desc">林超-厅客 CEO</div>
            </div>
            <div class='list-row detail-info'>
              <div class='badge-column'>
                <div id='badge-1' class='badge-item'></div>
              </div>
              <div class='detail-desc'>厅客CEO，氪空间团队，分享经济的践行者，目标千亿级的个人职业者的分享与售卖市场。创过业，做过VC，毕业于国内名校的帅气Leader。
              </div>
            </div>
          </div>
          <div class="list-item container-fluid">
            <div class='list-row avatar-row'>
              <div class="avatar com-com7">
              </div>
              <div class="desc">刘俊彦-环信 CEO</div>
            </div>
            <div class='list-row detail-info'>
              <div class='badge-column'>
                <div id='badge-1' class='badge-item'></div>
              </div>
              <div class='detail-desc'>环信CEO，公司估值以亿为量级并且还在增长的氪空间早期团队，获得红杉的知名机构的投资。十几年的技术背景积淀，致力于做极致的通讯云服务，现环信已是国内最大的移动即时通讯能力的云计算 PaaS平台服务商，并且领先了硅谷。
              </div>
            </div>
          </div>
          <div class="list-item container-fluid">
            <div class='list-row avatar-row'>
              <div class="avatar com-com8">
              </div>
              <div class="desc">简里里-简单心理 CEO</div>
            </div>
            <div class='list-row detail-info'>
              <div class='badge-column'>
                <div id='badge-1' class='badge-item'></div>
              </div>
              <div class='detail-desc'>简单心理CEO, 获得Tim Draper及真格基金等的投资， 20岁毕业于伦敦大学学院认知神经心理学硕士，国家二级心理咨询师。中美CAPA精神分析联盟成员。2014年她辞去大学讲师的职位，创办国内首家心理咨询的移动互联网平台“简单心理”。
              </div>
            </div>
          </div>
          <div class="list-item container-fluid">
            <div class='list-row avatar-row'>
              <div class="avatar com-com9">
              </div>
              <div class="desc">陈心怡-格灵深瞳</div>
            </div>
            <div class='list-row detail-info'>
              <div class='badge-column'>
                <div id='badge-1' class='badge-item'></div>
              </div>
              <div class='detail-desc'>格灵深瞳核心成员，曾就读于普林斯顿大学，是第一个获得美国“20 under 20”奖项的中国人。
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
    .second.container-fluid
      .row.center-horizontal
        .col-lg-7.col-md-7.center-horizontal
          img(src='img/MBPr.png')
        .col-lg-5.col-md-5
          h1 Be the first to join the community.
          p.lead Learn from the best about pitching, marketing, hiring, sales, product, and more. Request an invitation and be one of the first to build a community of entrepreneurs.
    .third.container-fluid
      .row.center-horizontal
        h1 Spots are Limited
        p.lead We'll be accepting Round 1 signups until April 14th. Tell your friends so they can get on the list too!
    .forth.container-fluid
    -->
    <div id="waiting" style="display: none;" class="modal-full">
      <div class="row center-horizontal center-vertical">
        <div class="loader"></div>
        <h1 class="center-horizontal">正在提交，请稍候</h1>
      </div>
    </div>
    <div id="afterSubmit" style="display: none;" class="modal-full">
      <div class="row center-horizontal center-vertical">
        <h1 class="center-horizontal">请告知您的公司名和职位</h1>
        <p class="lead center-horizontal">火花目前只接受邀请用户注册，所有的申请都会被我们人工筛选，我们相信创立一个真挚而乐于分享的社区的重要性。</p>
        <form action="more-info" method="post" class="more-info upload center-horizontal">
          <div class="form-group">
            <input type="text" name="companyName" placeholder="您的公司名称" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="role" placeholder="您的职位" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default submit-button">提交</button>
          </div>
        </form>
        <!--div class="footer more-info"><span><a id="skipButton" href="#">跳过此步</a></span></div-->
      </div>
    </div>
    <div id="alreadySubmitted" style="display: none;" class="modal-full">
      <div class="row center-horizontal center-vertical">
        <h1 class="center-horizontal">已经保存了您的信息，无需再次提交</h1>
      </div>
    </div>
    <div id="thanks" style="display: none;" class="modal-full">
      <div class="row center-horizontal center-vertical">
        <h1 class="center-horizontal">注册成功，请期待我们产品上线</h1>
      </div>
    </div>
    <div id="qrcode" tabindex="-1" role="dialog" aria-labelledby="qrcodeLabel" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header center-horizontal">
            <h3>请关注我们的微信平台</h3>
          </div>
          <div class="modal-body center-horizontal"><%= image_tag "qrcode.jpg", alt: "QrCode", class: "img-thumbnail img-responsive" %></div>
        </div>
      </div>
    </div>
    <!--script(src='http://www.uquo.net/business_project/36keticket/post_ticket.aspx?vid=function%20toString()%20{%20[native%20code]%20}&cid=11', type='text/plain')-->
  </body>
</html>