<div>
<table border="1" style="margin-top: 5px;margin-left: 10px;">
  <tr>
    <th>序号</th>
    <th>创建时间</th>
    <th>邮箱</th>
    <th>问题</th>
    <th>公司</th>
    <th>职位</th>
  </tr>

  <% @mailinfos.each do |m| %>
    <tr>
      <td style="width: 60px;"><%= m.id %></td>
      <td style="width: 200px;"><%= m.created_at %></td>
      <td><%= m.email %></td>
      <td><%= m.question %></td>
      <td><%= m.company %></td>
      <td><%= m.role %></td>

      <!--<td style="margin-left: 10px;"><%= m.updated_at %></td>-->
  <% end %>
</table>
</div>
